/*************** Base styles ****************/

* {
	box-sizing: border-box;
	font-family: "Comic Sans MS", cursive, sans-serif
}

h1 {
	text-align: center;
	margin: 50px;
}

h2 {
	border: 1px solid black;
	border-top-style: none;
	border-right-style: none;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	width: 100px;
	margin-left: auto;
	font-size: 16px;
}

#Chicken {
	background-color: #F08080;
}

#Beef {
	background-color: #8B0000;
	color: white;
}

#Sushi {
	background-color: #F0E68C;
}


p {
	text-align: justify;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	background-color: gray;
	border: 1px solid black;
	border-top-style: none;
	padding: 10px;
	font-size: 14px;


}

.header {
	position: relative;
	background-color: gray;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-bottom-style: none;
}

/* Responsive Framework */

.row {
	width: 100%;
}

/*************** Large Devices only ****************/
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33.33%;
	}

}

/*************** Medium Devices only ****************/

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 50%;
	}
	
	#specialHeader {
		width: 97.5%;
		margin-top: 10px;
	}

	#specialP {
		width: 97.5%;
	}

	.col-md-12 {
		float: left;
		width: 100%;
	}





}